@model IList<PackIt.Material.Section>
<tr>
    <th scope="col"><label asp-for="FirstOrDefault().SectionType"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().Shape"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().Height"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().Dimension0"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().Dimension1"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().Dimension2"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().Dimension3"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().Dimension4"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().Dimension5"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().Dimension6"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().Dimension7"></label></th>
</tr>
