*.suo
*.leu
*.min.css
*.min.js
codedoc.xml
coverage.info
coverage.opencover.xml
coverage.cobertura.xml
coverage.json

**/.vs/
**/bin/
**/lib/
**/obj/
**/MSTest.*
**/TestResults/

**/.vagrant/
**/*.log

**/*.feature.cs
**/*.local.json
