@model PackItUI.Areas.Packs.Models.PackEditViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Delete Pack";
}
<h2>@ViewData["Title"]</h2>
<form asp-controller="Home" asp-action="Delete" method="post">
    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs">
            <li class="active">
                <a class="nav-link" href="#pack" role="tab" data-bs-toggle="tab">Pack</a>
            </li>
            <li>
                <a class="nav-link" href="#costings" role="tab" data-bs-toggle="tab">Costings</a>
            </li>
        </ul>
        <div class="tab-content">
            <br />
            <div class="tab-pane active" id="pack">
                @Html.EditorFor(m => Model.Data, "PackPane", new { crud = PackItUI.Helpers.Crud.Delete })
            </div>
            <div class="tab-pane" id="costings">
                <div class="form-group">
                    <table class="table">
                        <caption>Pack Costings</caption>
                        <thead>
                            @Html.EditorFor(m => Model.Data.Costings, "CostingHeader")
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Data.Costings.Count; ++i)
                            {
                                @Html.EditorFor(m => Model.Data.Costings[i], "Costing", new { crud = PackItUI.Helpers.Crud.Delete })
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" value="Delete" class="btn btn-secondary" />
        </div>
    </div>
    <br />
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
