@model IList<PackIt.Material.Costing>
<tr>
    <th scope="col"><label asp-for="FirstOrDefault().Quantity"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().QuantityCost"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().VolumeCost"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().AreaCost"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().LengthCost"></label></th>
</tr>
