@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Wellspring Cheltenham Road<br />
    Painswick<br />
    Gloucestershire, GL6 6TW<br />
    United Kingdom<br />
    <br />
    <a href="tel:+447799545332">+44 7799 545332</a>
</address>

<address>
    <a href="mailto:louis_nayegon@hotmail.com">Email Support</a><br />
    <a href="mailto:louis_nayegon@hotmail.com">Email Marketing</a>
</address>
