@model IList<PackIt.Pack.Costing>

<tr>
    <th scope="col"><label asp-for="FirstOrDefault().RequiredQuantity"></label></th>
    <th scope="col"><label asp-for="FirstOrDefault().RequiredWeight"></label></th>
</tr>
