@model AboutViewModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>Version</th>
        <th>About</th>
    </tr>
    @foreach (ServiceViewModel x in Model.Services)
    {
        <tr>
            <td>@x.Version</td>
            <td>@x.About</td>
        </tr>
    }
</table>
